body {
	background: url("skinImages/main_bg.gif") fixed repeat;
	background-position: 40% 0%;
	height: 100%;
}

#sidebar {
	background: url("skinImages/sidebar_bg.png") repeat-y fixed -25px 0px transparent; 
	height: 100%;
	/* This tucks the sidebar graphic to the left... the negative integer should correspond with the width of the sidebar */
}

/* This is your navigation hover color */
#sidebar .navigation li a:hover{
	color: #74c71d;
}

/* This is your navigation selected link color */
#sidebar .navigation li.current,
#sidebar .navigation li.current a{
	color: #74c71d;
}

#content a{color: #74c71d;}
#content a:hover {color: #83eb17;}
#content a:visited {color: #6db622;}